@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,800;1,300;1,400;1,800&family=Work+Sans:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">);
*{
    margin: 0px;
    font-family: Work Sans;
}
.item{

}
.banner-title{
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 1920px;
    height: 130px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.text-color{
text-align: center;
color: #230213;
font-size: 45px;
font-weight: 700;
}
.pink{
 color:  #ff42a5;
}
.banner{
    display: flex;
    gap: 30px;

}
.banner2{
    display: flex;
    align-items: center;
    gap: 30px;
}
.Logo{
    width: 86.041px;
    height: 40px;
}
.btn-primary{
    width: 262px;
    height: 56px;
    margin-right: 10px;
    padding-top: 17px;
    padding-bottom: 18px;
    padding-right: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    border: none;


}
.divsectioin{
    display: flex;
    width: 1920px;
    height: auto;
    

}
.banner-section{
width: 900px;
height: 700px;
text-align: center;
padding-top:  150px;
fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
background-image: url('/images/Group\ 14.png');

}
/* /* picture-part2 * */
.picture-part2{
width: 1920px;
height: 427px;
margin-left: 25%;


}
.h2{
color: #0B0223;
text-align: center;
margin-top: 20px;
font-size: 28px;
font-weight: 500;
text-transform: uppercase;

}
.h1{
text-align: center;
margin-top: 20px;
font-size: 50px;
font-weight: 700;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.h3.1{
color: #534C64;
text-align: center;
margin-top: 20px;
font-size: 20px;
font-weight: 500;
text-transform: lowercase;
}
.h3.2{
color: #534C64;
margin-top: 20px;
font-size: 20px;
font-weight: 500;
}
.h3.3{
color: #534C64;
margin-top: 20px;
font-size: 20px;
font-weight: 500;

}
.color-pink{
color: #FFF;
margin-top: 20px;
font-size: 20px;
font-weight: 500;
text-transform: uppercase;
display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 28px;
border: none;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.color-blue{
color: #FFF;
margin-top: 20px;
font-size: 20px;
font-weight: 500;
text-transform: uppercase;
display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 28px;
border: none;
background: #4EC5F7;
}
.img1{
padding-right: 60px;
padding-bottom: 30px;

}
/* main part of the body*/
.section-descriptiopn{
    display: flex;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%); ;

}
.description{
    text-align: right;
    padding-top: 100px;
    padding-right: 180px;
   
}
.description-title{
text-align: right;
padding-right: 0px;
font-size: 28px;
font-weight: 700;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.p-title{
width: 320px;
margin-top: 20px;
color: #534C64;
text-align: right;
font-size: 18px;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.button{
color: #FFF;;
display: inline-flex;
margin-top: 20px;
margin-right: 0px;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
font-size: 14px;
font-weight: 400;
text-transform: uppercase;
border-radius: 20px;
border: none;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.purpose{
width: 300px;
margin-top: 20px;
margin-left: 10px;
color: #534C64;
text-align: right;
font-size: 24px;
font-weight: 400;
line-height: 45px; /* 187.5% */
color: #534C64;                      
font-size: 32px;
font-weight: 400;
line-height: 30px;



}

.div{
    text-align: center;
}
.another-h1{
color: #0B0223;
margin-top: 20px;
text-align: center;
font-size: 28px;
font-weight: 700;

}
.span{
   color:  #F948B2 ;
}
.another-p{
color: #534C64;
margin-top: 20px;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.div2{
    display: flex;
    text-align: center;
    list-style: none;
    margin-top: 20px;
    margin-right: 200px;
    margin-left: 110px;
    gap: 20px;

}
/*play now icon*/
.img-container{
    position: relative;
    display: inline-block;
}
.play-now{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 80px;
}






.picture4{
width: 250px;
height: auto;
border-radius: 16px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.picture5{
width: 250px;
height:auto;
border-radius: 16px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.picture6{
width: 250px;
height: auto;
border-radius: 16px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.picture7{
width: 250px;
height: auto;
border-radius: 16px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.Play-Instantly{
    display: flex;
    justify-content: right;
    margin-top: 50px;
    margin-left:180px;
    margin-right: 80px;
}
.instantly{
text-align: center;
width: 340px;
height: 180px;
font-size: 48px;
font-weight: 700;
line-height: 60px; /* 125% */

}
.p-instantly{
width: 353px;
text-align: center;
color: #534C64;
font-size: 18px;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.s{
    padding-top: 170px;
    padding-right: 230px;
    padding-left: 100px;

}
.buttom{
    margin: 0px;
    position: relative;
    bottom: 260px;
    right: 140px;
}
.btn-1{
display: flex;
width: 243px;
height: 80px;
border-radius: 50px;
border: none;
align-items: center;
background: #FFF;
}
.btn-font{
    color: #0B0223;
    text-align: right;
    padding-bottom: 40px;
    font-size: 20px;
    font-weight: 600;
}
.rt12{
width: 60px;
height: 60px;
margin-bottom: 30px;
flex-shrink: 0;
border-radius: 50px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.btn-font1{
font-size: 20px;
font-weight: 600;
color: #FF42A5;
}

.pict{
    display: flex;
    padding-top: 150px;
    gap: 20px;
}
.pict2{
    display: flex;
    margin-left: 60px;
    margin-top: 20px;
    gap: 20px;
}
.white{
    
    color: #FFF;

}
.color{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;

}
.picture-part2{
width: 1920px;
height: 427px;


}
.foot{
width: 1920px;
height: 636px;
background: #0B0223;
padding-left: 10%;

}
.footer-part{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-right: 450px;
    gap: 20px;
    

}
.footer-part2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-right: 450px;
    padding: 10px;
    gap: 60px;


}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    
    margin-right: 450px;
}
.twitter{

}
.footer-part4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 400px;
    gap: 60px
    ;
}
.ppp{
color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-weight: 500;
margin-right: 300px;
margin-top: 80px;
}





@media screen and (max-width:576px) {

    
    .banner-title{
      display: grid;
      width: 620px;
      height: auto;
      margin-right: 1000px;
        
    } 
    .banner-section{

    }
    
.banner2{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.img1{
    margin-top:0;
    width: 550px;
    height: auto;
}
.divsectioin{
    display: grid;
    grid-template-columns: repeat(1,1fr);
} 
.banner-section{
    width: 250px;
    margin-top: 40px;
    height: auto;
}
/* 2nd part of mobile view */
.banner-section{
    width: 620px;
    height: auto;
    margin-top: 0px;
}
.section-descriptiopn{
    display: grid;
    margin-left: 80px;
    background-image: none;

}
   .chobi{
    width: 520px;
    height: auto;
   }
   .description{
    padding-top: 20px;  
}
.p-title{
    margin-left: 80px;
}
.purpose{
    margin-top: 50px;
    margin-left: 80px;
    width: 300px;
    font-size: 30px;
}
.another-h1{
    margin-top: 100px;
    margin-left: 80px;
}
.another-p{
    margin-left: 100px;
}
.div2{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  

}
.picture4{
    width: 400px;
    height: auto;
    margin-top: 40px;
    margin-left: 40px;

}
.picture5 {
    width: 400px;
    height: auto;
    margin-top: 40px;
    margin-left: 40px;
}
.picture6 {
    width: 400px;
    height: auto;
    margin-top: 40px;
    margin-left: 40px;
}

.picture7 {
    width: 400px;
    height: auto;
    margin-top: 40px;
    margin-left: 40px;
}
.Play-Instantly{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    margin-left: 260px;
}
.instantly{
        line-height: 60px;
        margin-left: 35%;
}
.p-instantly{
    margin-top: 50px;
    margin-left: 35%;
}
.horse{
    width: 300px;
    height: auto;
    margin-top: 40px;
    margin-left: 10%;
}
.picture-part2{
    width: 500px;
    height: auto;
}

}











